# build output
dist/
# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/

# Client assets & raw design files
02 CLIENT ASSETS/
*.docx
TDG Website Guideline.pdf
src/assets/00 LOGO ALL CLIENTS/
src/assets/01 CONTENT & MEDIA MANAGEMENT/
src/assets/01 CONTENT & MEDIA MANAGEMENT 2/
src/assets/02 BRAND & DIGITAL FOUNDATION/
src/assets/03 VISUAL PRODUCTION & DOCUMENTATION/

